.icon{
    width: 100px;
    height: 100px;
    margin-right: 5vw;
}

.container {
  max-width: 90vw;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar{
    top: 0px;
    left: 5px; 
    position: fixed;
    display: flex;
    max-width: 100vw;
}

.nav-elements ul {
  width: 80vw;
  max-width: 85vw;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.nav-elements ul li:not(:last-child) {
  margin-right: 75px;
}

.nav-elements ul a {
  font-size: 16px;
  font-weight: 400;
  color: #ffff;
  text-decoration: none;
}

.nav-elements ul a.active {
  color: #C29108;
  font-weight: 500;
  position: relative;
}

.nav-elements ul a.active::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #C29108;
}